#waterphoto img{
	height: 10%;
	width: 100px;
	text-align: center;
}
#dime{
	font-size:30px;
	font-family: Arial;
	text-align: center;
	color: blue;
	background-color: yellow;
}
ul{
	border: 3px solid black;
}
input{
	display: block !important;
	font-size: 10px;
	border: 20x solid gray;
	outline: gray;
}
h1{
	border:3px solid blue;
	font-size:100px;
	background-color:blue;
	text-align:center;
	color:white;
}
img{
	border:3px solid blue;
}



