 body{}

nav ul ul{
	border: 10px solid red;
  display: none;
  padding: 0;
  position: relative;
}

nav ul li:hover ul{
	border: 10px solid blue;
  display: block;
}

nav ul{
	border: 3px dashed red;
  display: inline-table;
  list-style: none;
}

nav ul li{
	border: 4px dashed black;
  float: left;
  margin-right: 20px;
}

nav ul ul li{
	border: 3px solid green;
  float: right;
  padding:4px;
}

nav ul ul li:hover{
	border: 3px solid orange;
  float: none;
  padding:4px;
  background-color: #fff;
}

a{
	border: 3px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18pt;
}

nav ul{
	border: 3px dashed red;
  background-color: #fff;
  padding:10px;
  border-radius: 10px ;
}

.menu-icon{
	border: 3px solid green;
  width: 50px;
  display: none;
}

#socialMedia{
	border: 3px solid orange;
    font-size:0.5em;
      text-align:right;
      clear:both;
      padding-top:50px;
      color: grey;
      position:relative;
      top:60px;
      right:20px;
}

@media only screen and (min-width: 961px){
    
}

@media only screen and (min-width: 481px) and (max-width: 960px){

}

@media only screen and (max-width: 480px){
           nav ul{
              display: none;
              width: 70%;
            }
            nav ul li{
              float: none;
            }
            nav ul li ul{
              display: none !important;
            }
            nav ul li ul{
              display: none;
            }
            .menu-icon{
              display: inline-block;
            }

}